@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@500;600&display=swap');

body {
    overflow-x: scroll;
    font-family: 'quicksand' sans-serif;
    background-image: url(asset.css/Scene-20.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 1rem;
    color: white;
}
h1{
    text-align: center;
    font-size: 4rem;
}
p{
    font-size: 2rem;
}


h2, h3{
    color: #00a2c6;
    
}
footer{
padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
}